/*Main Styles file*/
.main-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.personal-information{
    margin: 20px;
    padding: 10px;
    background-color: #ccc;
}

.main-content{
    margin: 20px;
    padding: 10px;
    align-items: center;
    opacity: 0.7;
    border-radius: 5px;
}

footer{
    height: 10%;
    width: 100%;
    background-color: #85C7F2;
}

footer h1{
    color: #555;
}

h1,h2 {
    text-align: center;
}

h1{
    font-weight: bolder;
}

h2{
    color: #555;
}